{
  "rules": {
    "eqeqeq": [0],
    // make tab width > max len to disallow tab characters
    "max-len": [2, 79, 80],
    "new-cap": [0],
    "new-parens": [0],
    "no-new-func": [0],
    "no-new-wrappers": [0],
    "quotes": [2, "single", "avoid-escape"]
  }
}
